<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vlaksuga.congress.mapper.ProvinceMapper">
    <select id="getProvince" resultType="java.util.HashMap">
        SELECT * FROM province
    </select>
    <select id="getProvinceById" resultType="java.util.HashMap">
        SELECT * FROM province WHERE province_id = #{id}
    </select>
</mapper>